{{!-- Put your header HTML text here --}}

<header class="mt-20 mb-0 py-6 border-b-2 border-gray-300" style="border-bottom-width: 2px;border-bottom-style: solid;" >
<div class="lg:flex max-w-screen-md m-auto items-end justify-between">
        <div>
          <a href="/wiki">
            <img class="h-56" src="https://wiki.0makes0.com/uploads/0makes0_%EB%B9%84%EA%B1%B0%EB%8B%88%EC%A6%98%EB%A7%A4%EB%89%B4%EC%96%BC_image.jpg" alt="비거니즘 전시 매뉴얼">
          </a>
        </div>

        <div id="nav" class="flex text-3xl items-center">
          <a href="/" class="pr-9 pb-4 font-semibold text-black no-underline visited:text-black hover:text-gray-800 mt-4 inline-block" style="font-size: 16px; color: #000 !important;">위키</a>
          <a href="/book" class="pr-9 pb-4 font-semibold text-black no-underline visited:text-black hover:text-gray-800 mt-4 inline-block" style="font-size: 16px; color: #000 !important;">ver.1</a>
          <a href="https://0makes0.com" class="pr-8 pb-4 font-semibold text-black no-underline visited:text-black hover:text-gray-800 block mt-4 inline-block" style="font-size: 16px; color: #000 !important;">제로의 예술</a>
          <a class="pt-5" href="https://nothingmakesitself.art">
            <img class="pb-4 h-16 block md:inline-block md:mt-0" src="https://freight.cargo.site/t/original/i/abcd0824382cdb1e6c2efca6e3d5ae4dd8fc33f6ed88bddbfa25923073865abf/12313123100.png">
          </a>
        </div>
</div>
</header>
<style>
@media (max-width: 768px) {
  #nav {
    display: none !important;
  }
}
</style>
