<div id="wiki-wrapper" class="edit">
<div id="head">
	{{>navbar}}
  <h1 class="py-2" style="margin-top: 1.0em;">편집 <strong>{{title}}</strong></h1>
</div>
<div class="tabnav">
  <nav class="tabnav-tabs">
    <a href="#" id="edit" class="tabnav-tab selected" aria-current="page">
      편집
    </a>
    <a href="#" id="preview" class="tabnav-tab">미리 보기</a>
  </nav>
</div>
  <div class="tabnav-div" id="edit-content">{{>editor}}</div>
	<div class="tabnav-div" id="preview-content"></div>
</div>
