/uploads65;6003;1c
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width">
  {{#sprockets_stylesheet_tag}}app{{/sprockets_stylesheet_tag}}
  {{#sprockets_stylesheet_tag}}print print{{/sprockets_stylesheet_tag}}

  {{#css}}<link rel="stylesheet" type="text/css" href="{{custom_css}}" media="all">{{/css}}
  {{#noindex}}<meta name="robots" content="noindex, nofollow" />{{/noindex}}
  <link rel="stylesheet" href="/tailwind.css">

  <script>
  var criticMarkup = '{{critic_markup}}';
	var baseUrl = '{{base_url}}';
	var uploadDest = 'uploads';
	var perPageUploads = '{{per_page_uploads}}';
	if (perPageUploads == 'true') {
	  uploadDest = uploadDest + window.location.pathname.replace(/.*gollum\/[-\w]+\//, "/").replace(/\.[^/.]+$/, "").replace(baseUrl, "")
	}
	{{#page}}
	  var pageFullPath = '{{escaped_url_path}}';
    var pageFormat   = '{{format}}';
	{{/page}}
  {{#has_search_terms}}
    var searchTerms  = [{{#search_terms}}'{{.}}', {{/search_terms}}
    ];
  {{/has_search_terms}}
  {{#is_create_page}}
    var default_markup = '{{default_markup}}';
  {{/is_create_page}}

  </script>
  {{#sprockets_javascript_tag}}app{{/sprockets_javascript_tag}}
  {{#has_editor}}
  {{#sprockets_javascript_tag}}editor{{/sprockets_javascript_tag}}
  {{/has_editor}}
  {{#mathjax}}
  <script type="text/javascript">
    window.MathJax = {
      tex2jax: {
        inlineMath:  [ ['$','$'], ['\\(','\\)'] ],
        displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
        processEscapes: true
      },
      TeX: { extensions: ["autoload-all.js"] }
    };
  </script>
  {{#mathjax_config}}
  <script type="text/javascript" src="{{mathjax_config_path}}"></script>
  {{/mathjax_config}}
  <script defer src="{{mathjax_js}}"></script>
  {{/mathjax}}
  {{#js}}<script type="text/javascript" src="{{custom_js}}"></script>{{/js}}

  <title>{{title}}</title>
</head>
<body class="leading-relaxed">
  <div id="battery" style="height: var(--battery);">
    <div class="inline-block bg-pink-300 border border-pink-300 text-white p-1">
      <span class="font-semibold px-1">배터리: </span><span class="px-1" id="level">?</span><span> %</span>
    </div>
  </div>

<!--
  <a href="/">
      <img width=480 class="h-8 md:h-6 m-4" src="https://wiki.0makes0.com/uploads/0makes0_비거니즘매뉴얼_image.jpg" alt="비거니즘 전시 매뉴얼">
  </a>
-->

<header class="lg:flex lg:max-w-screen-lg m-auto items-end justify-between px-6">
       <div class="flex flex-row justify-between">
          <div>
            <a href="http://wiki.0makes0.com/wiki">
              <img class="h-50 md:h-40" src="https://wiki.0makes0.com/uploads/0makes0_비거니즘매뉴얼_image.png" alt="비거니즘 전시 매뉴얼">
            </a>
          </div>
        </div>

        <nav class="align-text-bottom pt-4 pb-0 hidden md:flex">
          <div class="w-full block flex-grow md:flex md:items-center md:w-auto">
            <div class="text-base md:flex-grow">
              <a href="/" class="pr-4 font-semibold text-black hover:text-gray-800 block mt-4 md:inline-block md:mt-0 ">위키</a>
              <a href="/book" class=" pr-4 font-semibold text-black hover:text-gray-800 block mt-4 md:inline-block md:mt-0 "><span>ver.1</span></a>
              <a href="https://0makes0.com" class="pr-4 font-semibold text-black hover:text-gray-800 block mt-4 md:inline-block md:mt-0"><span>제로의 예술</span></a>
              <a href="https://nothingmakesitself.art/Satellite-Project">
                <img class="h-12 block md:inline-block md:mt-0" src="https://freight.cargo.site/t/original/i/abcd0824382cdb1e6c2efca6e3d5ae4dd8fc33f6ed88bddbfa25923073865abf/12313123100.png">
              </a>
            </div>
          </div>
        </nav>
</header>
  <!--
  {{< user}}
  -->
<div class="border-t-2 border-black mt-4" style="border-top-width: 2px;border-top-style: solid;">
  <div class="lg:max-w-screen-lg m-auto p-2 xl:p-4">
  {{{yield}}}
  </div>

{{>server}}
</div>
</body>
</html>
